extends layout

block subcontent
  h1= title
  p When I am able to, here are the animals I hope to provide for


  h2='Pitbull'
  p I have wanted a pitbull for so very long. What isn't to love about the velvent unicorns with the zoomies? Pitbulls are so misunderstood and often mistreated. I want to help show the world that pitbulls are just like any dog.
  img(src='/images/mforster/pitbull1.jpg' style="width:400px;height:250px;" hspace="20")
  img(src='/images/mforster/pitbull2.jpeg' style="width:250px;height:300px;" hspace="20")
  img(src='/images/mforster/pitbull3.jpg' style="width:400px;height:300px;" hspace="20")

  h2='Cat'
  p I think cats are arguably my favorite animal. I've always wanted one, but my mom wasn't medically allowed to be around kitty litter so I've never had one. So naturally when I live on my own post graduation I shall get a cat. A black cat specifically. Not only are black cats grossly misunderstood (like pitbulls) they are often maliciously attacked! Below is a comic strip that made me cry.
  img(src='/images/mforster/Comic1.jpg' style="width:200px;height:300px;" hspace="5")
  img(src='/images/mforster/Comic2.jpg' style="width:200px;height:300px;" hspace="5")
  img(src='/images/mforster/Comic3.jpg' style="width:200px;height:300px;" hspace="5")
  img(src='/images/mforster/Comic4.jpg' style="width:200px;height:300px;" hspace="5")
  img(src='/images/mforster/Comic5.jpg' style="width:200px;height:300px;" hspace="5")
  img(src='/images/mforster/Comic6.jpg' style="width:200px;height:300px;" hspace="5")
  img(src='/images/mforster/Comic7.jpg' style="width:200px;height:300px;" hspace="5")
  img(src='/images/mforster/Comic8.jpg' style="width:200px;height:300px;" hspace="5")
  img(src='/images/mforster/Comic9.jpg' style="width:200px;height:300px;" hspace="5")
  img(src='/images/mforster/Comic10.jpg' style="width:200px;height:300px;" hspace="5")
  img(src='/images/mforster/Comic11.jpg' style="width:200px;height:300px;" hspace="5")
  img(src='/images/mforster/Comic12.jpg' style="width:200px;height:300px;" hspace="5")
  img(src='/images/mforster/Comic13.jpg' style="width:200px;height:300px;" hspace="5")
  img(src='/images/mforster/Comic14.jpg' style="width:200px;height:300px;" hspace="5")

  h2='Hognose Snake'
  p When I was younger snakes would creep me out and scare me. I wouldn't even pet one when a handler came to my school! Yet ever since I started watching snake discovery, I realized just how loveable these little danger noodles can be. I have a particular fondness for hognose snakes, though there feeding requires a food that I will most certainly have to get used to!
  img(src='/images/mforster/snake1.jpg' style="width:200px;height:200px;" hspace="20")
  img(src='/images/mforster/Snake2.jpg' style="width:200px;height:200px;" hspace="20")
  img(src='/images/mforster/snake3.png' style="width:300px;height:200px;" hspace="20")

  h2='Chickens/Ducks'
  p Growing up, I said pretty often I wanted to be a farmer. The main resoning? I could have chickens and ducks to hug. Being older, I understand that maybe hugging them isn't the best course of action, but I would still love to own my own. For a few months my dad and I kept chickens in the backyard for my cousin who was in the process of moving and I loved every second of it. Sadly when they left my mom said we couldn't get our own. I think she'd kill me if I came home one day with a handful of chickens. I do get to help our family friend Bob with his ducks whenever I visit. He dug his own duck pond and whenever he goes outside honking you see a line of ducks running towards him in the distance. I'm still working on perfecting my honk.
  img(src='/images/mforster/chicken1.jpg' style="width:250px;height:200px;" hspace="20")
  img(src='/images/mforster/chicken2.jpg' style="width:300px;height:200px;" hspace="20")
  img(src='/images/mforster/duck1.jpg' style="width:250px;height:200px;" hspace="20")
  img(src='/images/mforster/duck2.jpg' style="width:200px;height:200px;" hspace="20")
  p and yes, I would probably try to make my chickens little sweaters.

  h2='Hedgehog'
  p I did not know people owned hedgehogs as pets until I saw a classmate from highschool post about her new hedgehog. When I asked my dad if I could get one he flat out said no. Apparently he had one when he was younger and it was a vicious little thing. I think he didn't hold it enough when he first got it (I read all about owning and caring for a hedgehog and if you don't let it associate you with your scent it can be mean. They're pretty blind so they notice people by scent). Plus I've learned they love to cuddle with you.p
  img(src='/images/mforster/hedgehog1.jpeg' style="width:250px;height:200px;" hspace="20")
  img(src='/images/mforster/hedgehog2.jpg' style="width:250px;height:200px;" hspace="20")


  p
     a(href='/mforster') Go back to the main page!
    P
    p
     a(href='/mforster/page2') Learn about the awesomeness of yarn craft!
    P